<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zombie Pets</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <style>
      html,
      body {
        min-height: 100%;
      }
      body {
        background-color: rgba(0, 0, 0, 0.196);
        background: url("images/freepik_2251470.jpg") no-repeat;
        background-position: center bottom;
        background-size: cover;
      }

      .bg {
        background-color: black;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 1;
        transition: all 0.7s;
      }

      .info {
        position: absolute;
        z-index: 99;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -30%);
      }

      /* img {
        max-width: 220px;
        margin: auto;
      } */

      .btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 50px;
      }

      .btn-home {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 65px;
        width: 250px;
        border-radius: 10px;
        text-decoration: none;

        position: relative;
      }

      .btn-home p {
        color: #ffffff;
        text-shadow: 1px 2px 2px rgb(55, 5, 82);

        font-size: 25px;
        font-weight: 900;
        margin: 0;
        z-index: 10;
      }

      .btn-home img {
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%);
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .btn-home:hover {
        cursor: pointer;
      }

      .icon-wrapper {
        position: absolute;
        bottom: 20px;
        left: 40%;
        right: 50%;
        transform: translateX(50%);
        display: flex;
        gap: 30px;
      }

      .icon-wrapper a img {
        height: 50px;
        width: 50px;
      }
      #logo {
        width: 100%;
        max-width: 500px;
      }
    </style>
  </head>
  <body>
    <div class="bg">&nbsp;</div>
    <div class="text-center info">
      <h1
        class="callout-title animate__animated animate__backInUp animate__fast"
      >
        <a href="/"><img id="logo" src="images/logo.png" /></a>
      </h1>
      <div class="btn-wrapper">
        <!-- <a class="btn-home" href="/home">
          <p>Website</p>
        </a> -->
        <a
          href="https://app.zombiepets.io"
          class="btn-home callout-title animate__animated animate__backInUp animate__fast"
        >
          <p>Play Now</p>
          <img src="./images/button.svg" />
        </a>
        <a
          href="/home"
          class="btn-home callout-title animate__animated animate__backInUp animate__fast"
        >
          <p>Website</p>
          <img src="./images/button2.svg" />
        </a>
      </div>

      <!-- <p class="mb-3 callout-title animate__animated animate__pulse animate__faster animate__infinite animate__delay-1s"><a href="/home"><img src="home/icon-home.png"></a></a></p> -->
      <!-- <p data-wow-delay="0.5s" class="callout-title animate__animated  animate__faster animate__pulse animate__infinite animate__delay-1s"><a href="https://app.zombiepets.io"><img src="home/icon-play.png"></a></a></p> -->
    </div>

    <div class="icon-wrapper">
      <a>
        <img src="images/telegram2.svg" />
      </a>
      <a>
        <img src="images/discord2.svg" />
      </a>
      <a>
        <img src="images/twitter.svg" />
      </a>
    </div>

    <script src="home/lib/wow.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script>
      new WOW().init();
    </script>
    <script>
      async function ani() {
        var i = 1;

        var setBg = setInterval(() => {
          i -= 0.05;

          var bg = document.getElementsByClassName("bg");
          bg[0].style.opacity = i;

          if (i <= 0.3) {
            clearInterval(setBg);
          }
        }, 200);

        var source = "audio.mp3";
        var audio = document.createElement("audio");
        //
        audio.autoplay = true;

        audio.load();
        audio.addEventListener(
          "load",
          function () {
            audio.play();
          },
          true
        );
        audio.src = source;
      }
      (async () => {
        await ani();
      })();
      //
    </script>
  </body>
</html>
